body {
  font-family: sans-serif; /*Will change this font later to sentient*/
  background-image: linear-gradient(#243B55, #141E30);
  /* margin: 0;
  padding: 0; */
}

#navbar {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  overflow: hidden;
  padding-top: 20px;
  position: sticky;
  top: 0;
  z-index: 1;
  height: 150px; /* adjust as needed */
}

#navbar > a > img {
  width: 128px;
  height: 128px;
  /* Make this image more blended in? */
}

.button{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  color: #141E30;
  border-radius: 24px;
  font-size: 14px;
  margin: 20px;
  padding: 1px 15px;
  text-align: center;
  text-decoration: none;
  transition: background-color 0.3s ease-in-out;
}

.button:hover {
  background-color: skyblue;
  color: #141E30;
}

.description{
  color: #D2D1D1;
  font-size: 20px;
  text-align: center;
}

/* HERO Reference https://codepen.io/dudleystorey/pen/yLoNpd */

@font-face {
  font-family: Orphan;
  src: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/4273/orphan_2.woff') format('woff');
  font-weight: normal;
  font-weight: 100;
  font-style: normal;
}
@keyframes scroller {
  80% { text-indent: 20%; }
  100% { text-indent: 20%; }
} 

/* @keyframes fader {
to { opacity: 0; }
} */
* { box-sizing: border-box; } 
html { 
font-family: Orphan, Futura Light, Futura, sans-serif;
font-size: 4.8vw;
/* so that the text scales to browser window */
min-height: 100%;
}

h1 { 
width: 101.5%;
overflow: hidden;
text-transform: uppercase;
color: #D2D1D1;
/* just in case someone forgets to turn on CAPS */
}

h1 span { 
display: inline-block;
width: 50%;
overflow: hidden;
line-height: 2;
animation: scroller 4s 1.5s 1 forwards, 5s; 
} 

h1 span:first-child { 
text-indent: 100%; 
/* disappers text in the first (overflow: hidden) span by pushing it all the way to the right. Curiously, Webkit works with a value of 50%, but Firefox needs 100%; */
border-right: .5vw solid #fff; 
}
h1 span:last-child { 
text-indent: -50%;  
 /* the opposite indent value for text in the right <span> element  */
border-left: .5vw solid #fff;
}

/* Ref ends here */


